extends layout

append styles
  // Custom styles for this template
  //- link(href='../node_modules/jade-bootstrap/css/dashboard.css', rel='stylesheet')

block body
  .container
    h1.page-header All the screens
    .row
      each screenGroup in screenGroups
        .col-xs-12
          H3(onClick="openInNewTab('https://piletilevi.entu.ee/entity/screen-group/' + " + screenGroup.eid + ");")= screenGroup.eid + ': ' + screenGroup.name
          each screen in screenGroup.screens
            .col-xs-6.col-sm-4.col-lg-2
              - delay = Math.round((new Date().getTime() - screen.lastSeen)/1e3)
              h4(class=(delay > screen.avgInterval ? (delay > 2*screen.avgInterval ? 'bg-danger': 'bg-warning') : 'bg-success'))
                a(href="teamviewer:Sikupilli Statoil2")= screen.eid + ' -' + delay + 'sec'
              p= screen.version
              p= screen.ip
              if screen.avgInterval
                p= 'Every ' + screen.avgInterval + 'sec'
