extends layout

append styles
  // Custom styles for this template
  //- link(href='../node_modules/jade-bootstrap/css/dashboard.css', rel='stylesheet')

block body
  .container
    h1.page-header All the screens
    .row
      each screenGroup in screenGroups
        .col-xs-12
          H3= screenGroup.eid + ': ' + screenGroup.name
          each screen in screenGroup.screens
            .col-xs-12.col-sm-4.col-lg-2
              pre= JSON.stringify(screen, null, 4)
